<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title th:text="${vinho.nome}">Viña</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1 th:text="${vinho.nome}">Viña</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="rol">
			<div class="col-sm-9  js-container-foto">
				<img th:src="${vinho.url}" th:if="${vinho.temFoto()}" class="img-responsive" style="margin: auto"/>
			
				<div id="upload-drop" class="wn-upload" th:attr="data-codigo=${vinho.codigo}"
						th:if="${not vinho.temFoto()}">
					<img th:src="@{/images/mockup-garrafa.png}"/>
				
					<div>
						<span>Arraste a foto aqui ou </span>
						<a class="wn-upload-form-file"> selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/> </a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item" th:text="|Vinho ${vinho.tipo.descricao}|">Tinto</li>
					<li class="list-group-item" th:text="|${vinho.volume}ml|">750</li>
					<li class="list-group-item" th:text="${vinho.safra}">2013</li>
					<li class="list-group-item" th:text="|$${vinho.valor}|">58.00</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vinho.upload-foto.js}"></script>
</th:block>

</body>
</html>